@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');

* {
	margin: 0;
}

body {
	background-image: url(image/winter.jpg_large);
	background-repeat: no-repeat;
	background-size:cover;
	font-family: 'Texturina', serif;
	position:absolute;
	width:100%;
	top:50%;
	text-align:center;
}

.big-letter {
	font-size: 60px;
	color: red;
}

.sitetr {
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px;
	letter-spacing: 1px;
	margin: 0 20px;
	font-size: 24px;
	transition: .3s ease-in-out;
	color: black;
	border: 2px solid transparent;
}

.sitetr:hover {border: 4px solid red;}